html {
  font-family: Helvetica;
  text-align: center;
}

.header, #white_title {
  background-image:url("../images/the-flatiron-building.png");
  color: white;
}

li {
  font-size: 18px;
  color: white;
  list-style-type: none;
}
.footer {
  text-align: left;
}
